<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="javax.persistence.jdbc.driver">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/**DB NAME**</property>
    <property name="connection.username">**DATABASE USERNAME**</property>
    <property name="connection.password">**DATABASE PASSWORD**</property>
    <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!--    <property name="hibernate.show_sql">true</property>-->
    <property name="hibernate.show_sql">true</property>
    <!--    <property name="hibernate.format_sql">true</property>-->
    <property name="hibernate.format_sql">false</property>

    <mapping class="Student" />
    <mapping class="Class" />
  </session-factory>
</hibernate-configuration>